@model ApplicationCore.Models.InteractionPageViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Questions</h1>
    <ul class="list-group list-group-flush">
        @foreach (var employee in Model.header.questionDropDown)
        {
<li class="list-group-item">

    <a href="https://localhost:44380/question" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@employee.Questions</a>
    @*<p>@employee.Questions</p>*@
</li>
}
    </ul>
    @*<h1 class="display-4">Answers</h1>
            <ul class="list-group list-group-flush">
                @foreach (var client in Model.header.answerDropDown)
                {
        <li class="list-group-item">

            <a href="https://localhost:44380/interaction" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@client.Answers</a>
        </li>}
            </ul>*@


</div>
